<nav>
  <ul>
    <li>
      <a routerLink="/home">
        <span class="material-icons">house</span>
        Home
      </a>
    </li>
    <li>
      <a routerLink="/overview">
        <span class="material-icons">inventory_2</span>
        Estoque
      </a>
    </li>
    <li>
      <a routerLink="/moving">
        <span class="material-icons">compare_arrows</span>
        Movimentações
      </a>
    </li>
    <li>
      <a routerLink="/solicitation">
        <span class="material-icons">add</span>
        Solicitação
      </a>
    </li>
  </ul>
</nav>
