
<div class="Formulario">

    <form>
        <fieldset class="fieldset">
            <legend>Baixa de Item</legend>

            <div class="cadastro">

                <div class="Item_item">
                    <label for="Item">Item</label><br>
                    <input type="text" class="form-control" id="Item" placeholder="Nome do Item">
                </div>
          
                <div class="partnumber">
                    <label for="partnumber">Código</label><br>
                    <input type="text" class="codigo" id="partnumber" placeholder="Código do Item">
                </div>

                <div class="quantidade">
                    <label for="quantidade_item">Quantidade</label><br>
                    <input type="number" class="number" id="Quantidade" placeholder="0">
                </div>

                <div class="responsavel">
                    <label for="responsavel">Reponsável</label><br>
                    <input type="text" class="responsavel" id="supplier" placeholder="Reponsável">
                </div>

                <div class="Linha_select">
                    <label for="Linha">Linha</label><br>
                    <select class="Linha" name="Linha">
                        <option value="A01">A01</option>
                        <option value="A02">A02</option>
                        <option value="A03">A03</option>
                        <option value="A04">A04</option>
                        <option value="A05">A05</option>
                        <option value="A08">A08</option>
                        <option value="A08">C02</option>
                        <option value="A08">CINEBEAN</option>
                        <option value="A08">BM01</option>
                        <option value="A08">BM02</option>
                        <option value="A08">BM03</option>
                    </select>

                </div> 
                    

            </div>
            
            
            <div class="descricao">
                <div class="descricao">
                    <label for="Motivo">Motivo</label><br>
                    <textarea id="Motivo" name="observacao" rows="5" cols="33" placeholder="Descreva o motivo..."></textarea>
                </div>
            </div>
            
                <button type="submit" class="btn btn-primary">Baixa</button>
                <button type="submit" class="btn btn-secundary">Cancelar</button>
        </fieldset>
    </form>

</div>





