<header class="navbar">
    <div class="title-navbar">
        <strong>  INSPECTION TECHNOLOGY </strong>
        
    </div>
    <div class="items-navbar">
        <strong>  INSPECTION TECHNOLOGY </strong>
        
    </div>
    <div class="items-navbar">
        <strong>  INSPECTION TECHNOLOGY </strong>
        
    </div>
    <div class="items-navbar">
        <strong>  INSPECTION TECHNOLOGY </strong>
        
    </div>
    
   
</header>


    <div class="navbar__left_b">
        <strong>  INSPECTION TECHNOLOGY </strong>
    </div>