
<div class="body">
  <div class="container">
    <div class="form-box">
      <div class="left">
        <div class="logo">Controle <br>de<br> Estoque</div><br>
        <div class="arrow-button">→</div>
      </div>
      <div class="right">
        <form>
          <label for="usuario">LOGIN</label>
          <input
          type="text"
          name="username"
          [(ngModel)]="username"
          placeholder="User"
          required
      />

          <label for="senha">SENHA</label>
          <input
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          required
          />


          <button type="submit" class="entrar">ENTRAR</button>
        </form>
      </div>
    </div>
  </div>
</div>