<div class="Formulario">

    <form (ngSubmit)="onSubmit()">
        <fieldset class="fieldset">
            <legend>Cadastro de Usuário</legend>

            <div class="cadastro">

                <div class="Nome_item">
                    <label for="Nome">Nome</label><br>
                    <input type="text" [(ngModel)] = "user.name" name="name" class="form-control" id="Nome" placeholder="Nome do Colaborador">
                </div>
          
                <div class="matricula">
                    <label for="matricula">Matrícula</label><br>
                    <input type="text" [(ngModel)] = "user.registration" name="registration" class="codigo" id="matricula" placeholder="Matrícula do Colaborador">
                </div>

                <div class="email">
                    <label for="email">Email</label><br>
                    <input type="text" [(ngModel)] = "user.email" name="email" id="email" placeholder="Email LGE">
                </div>

                <div class="setor">
                    <label for="setor">Setor</label><br>
                    <input type="text" [(ngModel)] = "user.sector" name="sector" id="supplier" placeholder="setor">
                </div>

                <div class="n_cracha">
                    <label for="number">RFID</label><br>
                    <input type="text" [(ngModel)] = "user.rfid_code" name="rfid_code" id="Maker" placeholder="Número do Crachá">
                </div>
            </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="submit" class="btn btn-secundary">Cancelar</button>
        </fieldset>
    </form>

</div>





