
.resume {
  margin-left: 0;
  padding: 2rem;
  flex: 1;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.cabecalho h1 {
  font-size: 1.8rem;
  margin: 0;
  flex: none;
}


.flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.info-box1 {
  flex: 1;
  min-width: 150px;
  background-color: #dbd6d672;
  border: 2px solid rgb(106, 177, 0);
  padding: 2.5rem;
  border-radius: 8px;
  // text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.info-box2 {
  flex: 1;
  min-width: 150px;
  background-color: #dbd6d672;
  border: 2px solid #a49f00;
  padding: 2.5rem;
  border-radius: 8px;
  // text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.info-box3 {
  flex: 1;
  min-width: 150px;
  background-color: #dbd6d672;
  border: 2px solid var(--primary-color);
  padding: 2.5rem;
  border-radius: 8px;
  // text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.info-box1 div {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info-box2 div {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info-box3 div {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info-box1 p {
  font-size: 2.7rem;
  color: #2c2828;
  // color: var(--card-bg);
  // font-weight: bold;
  margin: 0 0 0 10px;
  text-align: center
  
}

.info-box2 p {
  font-size: 2.7rem;
  // color: var(--card-bg);
  color: #2c2828;
  // font-weight: bold;
  margin: 0 0 0 10px;
  text-align: center
  
}

.info-box3 p {
  font-size: 1.2rem;
  // color: var(--card-bg);
  font-weight: bold;
  margin: 0 0 0 10px;
  
}

.Cabo1 {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.Cabo1 h1 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0
}


caption {
  background-color: var(--card-bg);
  font-weight: bold;
  text-align: left;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--card-bg);
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .resume {
    margin-left: 0;
    padding: 1rem;
  }
  .cabecalho {
    flex-direction: column;
  }
  .flexbox {
    flex-direction: column;
  }
}

.resumos {
  display: flex;
  justify-content: space-between;
  gap: 1%; /* espaço entre eles */
  height: 350px;
  padding: 2rem;
}

.grafico1,
.grafico2 {
  flex: 1;
  
}

.grafico1 canvas,
.grafico2 canvas {
  width: 100%;
  height: 100% !important;
}
