<body>
  <div class="resume">
    <div class="cabecalho">
      <h1>Inspection Technology</h1>
      <a routerLink="#" class="button">Nova Entrada/Saída</a>

    </div>

    <div class="flexbox">
      <div class="info-box">
        <div>Em Estoque</div>
        <p>12</p>
      </div>
      <div class="info-box">
        <div>Entradas Hoje</div>
        <p>31</p>
      </div>
      <div class="info-box">
        <div>Saídas Hoje</div>
        <p>09</p>
      </div>
    </div>

    <div class="tables">
      <table>
        <caption>Últimas Movimentações</caption>
        <tr>
          <th>Item</th>
          <th>Código</th>
          <th>Quantidade</th>
          <th>Responsável</th>
          <th>Data/Hora</th>
        </tr>
        <tr>
          <td>Hdmi</td>
          <td>2573573</td>
          <td>5</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
        <tr>
          <td>Db15</td>
          <td>3572010</td>
          <td>7</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
        <tr>
          <td>Hdmi-Vga</td>
          <td>865257</td>
          <td>15</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
        <tr>
          <td>Usb 3.0</td>
          <td>5725725</td>
          <td>20</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
        
      </table>

      <table>
        <caption>Items em Estoque</caption>
        <tr>
          <th>Item</th>
          <th>Código</th>
          <th>Quantidade</th>
          <th>Responsável</th>
          <th>Data/Hora</th>
        </tr>
        <tr>
          <td>Hdmi</td>
          <td>2573573</td>
          <td>5</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
        <tr>
          <td>Db15</td>
          <td>3572010</td>
          <td>7</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
        <tr>
          <td>Hdmi-Vga</td>
          <td>865257</td>
          <td>15</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
        <tr>
          <td>Usb 3.0</td>
          <td>5725725</td>
          <td>20</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
        <tr>
          <td>Displayport</td>
          <td>587235</td>
          <td>15</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
        <tr>
          <td>Cabo Optical</td>
          <td>5257502</td>
          <td>9</td>
          <td>Andrew</td>
          <td>09:51</td>
        </tr>
      </table>
    </div>
  </div>
</body>

