<body>
  <div class="resume">
    <div class="cabecalho">
      <h1>Inspection Technology</h1>

    </div>

    <div class="flexbox">
      <div class="info-box1">
        <div>Total em Estoque</div>
        <p>912</p>
      </div>
      <div class="info-box2">
        <div>Saídas em Julho</div>
        <p>59</p>
      </div>
      <div class="info-box3">
        <div>Estoque Baixo</div>
        <div class="Cabo1">
          <h1>HDMI</h1>
          <p>72</p>
        </div>
        <div class="Cabo1">
          <h1>VGA</h1>
          <p>89</p>
        </div>
      </div>
    </div>
  </div>
  <div class="resumos">
    <div class="tabela-resumos"></div>

  </div>
</body>

