<aside class="sidebar">
  <nav>
    <ul>
      <li>
        <a routerLink="/estoque">
          <img src="assets/icons/grid.svg" alt="icon" />
          Estoque
        </a>
      </li>
      <li>
        <a routerLink="/movimentacoes">
          <img src="assets/icons/grid.svg" alt="icon" />
          Movimentações
        </a>
      </li>
      <li>
        <a routerLink="/solicitacao">
          <img src="assets/icons/grid.svg" alt="icon" />
          Solicitação
        </a>
      </li>
      <li>
        <a routerLink="/relatorio">
          <img src="assets/icons/grid.svg" alt="icon" />
          Relatório
        </a>
      </li>
      <li>
        <a routerLink="/dashboard">
          <img src="assets/icons/grid.svg" alt="icon" />
          DashBoard
        </a>
      </li>
    </ul>
  </nav>
</aside>
