/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
      --primary-color: #A50034;
      --background-color: #FFFFFF;
      --card-bg: #F5F5F5;
      --text-color: #222222;
      --font-family: 'Inter', sans-serif;
      --border-color: #0000003b;
    }
