  <div class="container">
    <table>
      <caption style="border-top-left-radius: 5px; border-top-right-radius: 5px; border: 1px solid #0000003b;">
        Últimas Movimentações
      </caption>
      <tr>
        <th>Item</th>
        <th>Código</th>
        <th>Quantidade</th>
        <th>Responsável</th>
        <th>Data/Hora</th>
      </tr>
      <tr>
        <td>Hdmi</td>
        <td>2573573</td>
        <td>5</td>
        <td>Andrew</td>
        <td>09:51</td>
      </tr>
      <tr>
        <td>Db15</td>
        <td>3572010</td>
        <td>7</td>
        <td>Andrew</td>
        <td>09:51</td>
      </tr>
      <tr>
        <td>Hdmi-Vga</td>
        <td>865257</td>
        <td>15</td>
        <td>Andrew</td>
        <td>09:51</td>
      </tr>
      <tr>
        <td>Usb 3.0</td>
        <td>5725725</td>
        <td>20</td>
        <td>Andrew</td>
        <td>09:51</td>
      </tr>
      <tr>
        <td>Displayport</td>
        <td>587235</td>
        <td>15</td>
        <td>Andrew</td>
        <td>09:51</td>
      </tr>
      <tr>
        <td>Cabo Optical</td>
        <td>5257502</td>
        <td>9</td>
        <td>Andrew</td>
        <td>09:51</td>
      </tr>
    </table>
  </div>